@charset "utf-8";

/*全体の設定・事前準備*/
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
ul{list-style: none;}
img{
    display: block;
    max-width: 100%;
}
.container{
    width: 1000px;
    margin: 20px auto;
}
